html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #181818;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}



@import'gameboard';
@import'button';